video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.selectbox {
	border-radius: 4px;
	background: rgb( 7, 161, 205 );
	width: 700px;
	z-index: 104;
	color : #fff;
	margin-top: 4px;
	margin-bottom: 20px;
}
.selectBox { 
	width: 350px !important;
	box-shadow: -1px 8px 17px -4px #888888;
}
.selectBox-arrow {
	border-left: 0px !important;
	color: #fff;
	background: url(drop_down_arrow.png) 50% center no-repeat !important;
	background-size: 10px !important;
}

.selectBox-label {
	width: 315px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
    margin-left: -8px;
    padding: 2px 19px !important;
}

.active-tab {
	border-radius: 10px;
	background-color: rgb( 245, 247, 247 );
	display: block;
	text-transform: uppercase;
	padding: 15px;
	font-size: 13.5px;
	font-weight: bold;
	width: 811px;

}

.active-tab span img {
	width: 40px;
}

.active-tab .collapse-active {
	font-size : 14px;
	color: #07a1cd;
	text-transform: none;
}

.info-row {
	margin-top: 24px;
	border-top: 1px solid rgb( 230, 230, 230 );
	border-bottom: 1px solid rgb( 230, 230, 230 );
	padding: 10px 0;
	width: 811px;
	color:#8b8b8b !important;
}

.info-row img {
	width: 16px;
}

.tree {
	width:811px;
	margin-top: 2px;
}

.tree .folder-item {
	font-size: 12px;
	font-weight: bold;
}

.tree-frame {
	margin-top: 31px;
}

.flex-video {
	border: solid 1px rgb( 230, 230, 230 );
}

.video-frame {
	width: 811px;
}

.video-frame h3 {
	font-weight: 700;
	font-size: 26px;
}

ul.jqtree-tree li.jqtree_common {
	padding: 9px 0 9px 9px;
	font-size: 15px;
	margin-bottom: 0px;
}
ul.jqtree-tree li.jqtree_common img {
	width: 20px;
}

ul.jqtree-tree li.jqtree_common .file {
	width: 13px;
}

.fa-caret-down, .fa-caret-right {
	margin-left: -6px;
	margin-right: 10px;
}

.inner, .file {
    margin-left: 10px;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
	background: #f7f7f7 !important; 
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element .jqtree-title, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
	color:#07a1cd !important;
}

#pick-subject {
	max-width:835px;
}

#pick-subject .school {
	padding: 12px;
}

#pick-subject .school .school-name {
	font-size: 14px;
	font-weight: bold;
}
.col-md-12 {
	padding-left: 9px !important;
}

.hidden {
	display: none;
}